<!DOCTYPE html>
<html>
    <head lang='en'>
        <meta charset="utf-8">
        <title>Stocks</title>
        <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron"><h1>StockExchange</h1></div>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/view/{{identity}}">View</a></li>
                        <li><a href="/forum/{{identity}}">Forum</a></li>
                        <li><a href="/access/{{identity}}">Admin</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/reg">Register</a></li>
                    </ul>
                </div>
            </nav>
            <div>
                <h2>Welcome to the StockExchange!</h2>
                <!--<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVJM24T6D0FZTlEKsgBFvfMig4I7RNoH-ZzA&usqp=CAU">-->
                <ol>
                    <li>View stock data</li>
                    <li>Share thoughts, predictions, and advise in the forum</li>
                    <li>Get access to AI/ML based prediction algorithms</li>
                </ol>
            </div>
        </div>
    </body>
</html>
