<!DOCTYPE html>
<html>
    <head lang='en'>
        <meta charset="utf-8">
        <title>Stocks</title>
        <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="jumbotron">
            <h2>Peters Parking Deck Court Reservation</h2>
        </div>
        <div>
            <!--<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVJM24T6D0FZTlEKsgBFvfMig4I7RNoH-ZzA&usqp=CAU">-->
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.npr.org%2F2022%2F09%2F15%2F1123136830%2Froger-federer-retires-tennis&psig=AOvVaw2_Bw2JILIGrjnBZ637edUG&ust=1664576224747000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCLjZqeyDu_oCFQAAAAAdAAAAABAD">
            <ul>
                <li><strong>Name: </strong>Rohan Phadnis</li>
                <li><strong>Date: </strong>Thursday, 29th September, 2022</li>
                <li><strong>Purpose: </strong>Tennis hit with friends.</li>
                <li><strong>Number of Courts: </strong>1</li>
            </ul>
        </div>
    </body>
</html>
